/* 艺考 */
.content .one-to-one .parts{width:1200px;margin:0 auto;text-align:center;padding:44px 0 56px 0;}
.content .one-to-one .parts h2{font-size:32px;color:#333;}
.content .one-to-one .parts .trilogy{width:100%;margin-top:36px;}
.content .one-to-one .parts .trilogy .status{float:left;margin-right:60px;width:360px;}
.parts .trilogy .status h4{width:360px;height:60px;background:#faa02a;border-radius:30px;line-height:60px;font-size:24px;color:#fff;}
.parts .trilogy .status .lesson{width:313px;margin:0 auto;margin-top:14px;}
.parts .trilogy .status .lesson .major{width:100%;margin-bottom:14px;text-align:left;}
.parts .trilogy .status .lesson .major h5{font-size:18px;color:#666;}
.parts .trilogy .status .lesson .major .probability{position:relative;margin-top:8px;height:25px;background:#e8e8e8;padding-right:11px;border-radius:12px;line-height:25px;}
.status .lesson .major .probability .cross{position: absolute;left:0;top:0;width:234px;background:#8195ff;border-radius:12px;height:25px;line-height:25px;font-size:12px;color:#fff;box-sizing:border-box;padding-left:15px;}
.status .lesson .major .probability .setback{font-size:12px;color:#666;}
.parts .trilogy .status .lesson .major.culture .cross{width:126px;}
.parts .trilogy .status.reference ul{width:190px;margin:0 auto;margin-top:28px;text-align:left;}
.parts .trilogy .status.reference ul li{background:url(../images/ykd.jpg) no-repeat left center;padding-left:25px;font-size:18px;color:#666;margin-bottom:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.parts .trilogy .status.reference ul li.last{margin-bottom:0;}
.content .one-to-one .parts .trilogy .status.answer{margin-right:0}
.parts .trilogy .status.answer ul{width:315px;margin:0 auto;margin-top:28px;text-align:left;}
.parts .trilogy .status.answer ul li{background:url(../images/ykd.jpg) no-repeat left center;padding-left:25px;font-size:18px;color:#666;margin-bottom:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.parts .trilogy .status.answer ul li.last{margin-bottom:0;}
.parts .little{width:100%;margin-top:44px;}
.parts .little h4{font-size:28px;color:#333;}
.parts .little .xsb{width:100%;margin-top:34px;}
.parts .little .xsb .ixsb{position: relative;float:left;padding-top:18px;width:400px;}
.parts .little .xsb .ykyd .tracing{position: absolute;width:19px;height:19px;border-radius:100%;left:219px;top:-10px;}
.parts .little .xsb .ykyd{width:236px;border-top:1px dashed #ff6b6d;padding-left:164px;}
.parts .little .xsb .ykyd h3{width:116px;height:32px;background:#ff6b6d;line-height:32px;border-radius:15px;font-size:18px;color:#fff;}
.parts .little .xsb .ykyd ul{width:116px;margin-top:15px;}
.parts .little .xsb .ykyd ul li{font-size:16px;color:#666;margin-bottom:12px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.parts .little .xsb .workable{border-top:1px dashed #51c4ff;}
.parts .little .xsb .workable .tracing{position: absolute;width:19px;height:19px;border-radius:100%;left:50%;margin-left:-9.5px;top:-10px;}
.parts .little .xsb .workable h3{width:116px;height:32px;background:#51c4ff;line-height:32px;border-radius:15px;font-size:18px;color:#fff;margin:0 auto;}
.parts .little .xsb .workable ul{margin-top:15px;}
.parts .little .xsb .workable ul li{font-size:16px;color:#666;margin-bottom:12px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.parts .little .xsb .solidify{border-top:1px dashed #8195ff;padding-left:103px;width:297px;}
.parts .little .xsb .solidify .tracing{position: absolute;width:19px;height:19px;border-radius:100%;left:158px;top:-10px;}
.parts .little .xsb .solidify h3{width:116px;height:32px;background:#8195ff;line-height:32px;border-radius:15px;font-size:18px;color:#fff;}
.parts .little .xsb .solidify ul{margin-top:15px;width:116px;}
.parts .little .xsb .solidify ul li{font-size:16px;color:#666;margin-bottom:12px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.one-to-one .scheme{width:100%;background:url(../images/ykbg.jpg) no-repeat;background-size:100% 702px;padding-top:58px;height:644px;text-align:center;}
.one-to-one .scheme h4{font-size:32px;color:#333;}
.one-to-one .scheme ul{width:1200px;margin:0 auto;margin-top:28px;}
.one-to-one .scheme ul li{float:left;margin-right:39px;width:580px;padding-top:37px;text-align:left;margin-bottom:15px;overflow:hidden;}
.one-to-one .scheme ul li h2{padding-left:134px;height:70px;line-height:70px;font-size:28px;color:#fff;}
.scheme ul li h2 span{font-weight:bold;}
.one-to-one .scheme ul li .particulars{padding:22px 28px 0 28px;background:#fff;height:116px;border-radius:0 0 18px 18px;font-size:18px;color:#666;line-height:28px;overflow:hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3;text-align:justify;}
.one-to-one .scheme ul li.precept1{background:url(../images/dzbg1.png) no-repeat;}
.one-to-one .scheme ul li.precept2{background:url(../images/dzbg2.png) no-repeat;margin-right:0;}
.one-to-one .scheme ul li.precept3{background:url(../images/dzbg3.png) no-repeat;}
.one-to-one .scheme ul li.precept4{background:url(../images/dzbg4.png) no-repeat;margin-right:0;}
.one-to-one .dream{width:1200px;margin:0 auto;padding:58px 0 48px 0;text-align:center;}
.one-to-one .dream h3{font-size:32px;color:#333;margin-bottom:44px;}
.one-to-one .dream ul{width:101%;}
.one-to-one .dream ul li{float:left;margin-right:11px;width:220px;height:274px;border:1px solid #ddd;padding:5px 5px 0 5px;}
.one-to-one .dream ul li.last{margin-right:0;}
.one-to-one .dream ul li.two{margin-top:40px;}
.one-to-one .dream ul li img{width:220px;height:175px;display:block;}
.one-to-one .dream ul li h4{font-size:16px;color:#666;margin-top:22px;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;}
.one-to-one .dream ul li .bk1{width:102px;margin:0 auto;border-top:2px solid #fbae4a;margin-top:18px;}
.one-to-one .dream ul li .bk2{width:102px;margin:0 auto;border-top:2px solid #ff6b6d;margin-top:18px;}
.one-to-one .dream ul li .bk3{width:102px;margin:0 auto;border-top:2px solid #51c4ff;margin-top:18px;}
.one-to-one .dream ul li .bk4{width:102px;margin:0 auto;border-top:2px solid #8195ff;margin-top:18px;}
.one-to-one .dream ul li .bk5{width:102px;margin:0 auto;border-top:2px solid #fbae4a;margin-top:18px;}

/* 师资力量 */
.one-to-one .abundant{width:1200px;margin:0 auto;height:601px;padding-top:58px;text-align:center;}
.one-to-one .abundant h4{font-size:32px;color:#333;}
.one-to-one .abundant .assist{width:887px;height:447px;margin:0 auto;margin-top:38px;position: relative;}
.one-to-one .abundant .assist .aid1{position:absolute;left:0;top:107px;width:286px;height:316px;background:url(../images/szbg1.png) no-repeat;z-index:10;}
.one-to-one .abundant .assist p{line-height:38px;font-size:24px;color:#fff;}
.one-to-one .abundant .assist .aid1 p{width:286px;height:181px;margin-top:30px;padding-top:105px;}
.one-to-one .abundant .assist .aid2{position:absolute;left:235px;top:17px;width:272px;height:251px;background:url(../images/szbg2.png) no-repeat;z-index:11;}
.one-to-one .abundant .assist .aid2 p{width:245px;height:160.5px;padding-top:84.5px;margin-top:6px;}
.one-to-one .abundant .assist .aid3{position:absolute;left:420px;bottom:0;width:326px;height:330px;background:url(../images/szbg3.png) no-repeat;z-index:12;}
.one-to-one .abundant .assist .aid3 p{width:326px;height:201px;padding-top:125px;}
.one-to-one .abundant .assist .aid4{position:absolute;top:0;right:0;width:227px;height:258px;background:url(../images/szbg4.png) no-repeat;z-index:13;}
.one-to-one .abundant .assist .aid4 p{width:227px;height:151.5px;padding-top:75.5px;}

.one-to-one .filtrate{width:100%;margin:0 auto;padding-top:94px;height:471px;background:url(../images/sxbg.jpg) no-repeat;text-align:center;}
.one-to-one .filtrate h4{font-size:32px;color:#333;}
.one-to-one .filtrate .strictness{width:100%;height:270px;background:url(../images/ygsxbg.png) no-repeat;margin-top:65px;position: relative;}
.one-to-one .filtrate .strictness ul{width:100%;}
.one-to-one .filtrate .strictness ul li{float:left;width:317px;height:84px;line-height:84px;font-size:24px;color:#666;text-align:left;padding-left:75px;margin-bottom:9px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.one-to-one .filtrate .strictness ul li.two{float:right;text-align:right;padding-right:75px;}
.one-to-one .filtrate .strictness .kernel{position:absolute;width:268px;height:176px;border-radius:100%;top:1px;left:50%;margin-left:-134px;padding-top:92px;font-size:32px;color:#fff;line-height:42px;font-weight:bold;}

.one-to-one .level{height:505px;padding-top:58px;text-align:center;}
.one-to-one .level h4{font-size:32px;color:#333;}
.one-to-one .level ul{width:100%;margin-top:34px;}
.one-to-one .level ul li{float:left;width:385px;height:358px;margin-right:22px;}
.one-to-one .level ul li.li1{border-bottom:2px solid #ff6b6d;}
.one-to-one .level ul li.li1 h5{width:100%;height:80px;line-height:80px;font-size:28px;color:#fff;background:#ff6b6d;}
.one-to-one .level ul li .matter{padding:16px 30px 0 30px;font-size:18px;color:#666;line-height:28px;text-align:justify;}
.one-to-one .level ul li.li2{border-bottom:2px solid #51c4ff;}
.one-to-one .level ul li.li2 h5{width:100%;height:80px;line-height:80px;font-size:28px;color:#fff;background:#51c4ff;}
.one-to-one .level ul li.li3{border-bottom:2px solid #8195ff;margin-right:0;}
.one-to-one .level ul li.li3 h5{width:100%;height:80px;line-height:80px;font-size:28px;color:#fff;background:#8195ff;}

.one-to-one .scheme.jyhd{width:100%;background:url(../images/jyhdbg.jpg) no-repeat;background-size:100% 665px;padding-top:64px;height:601px;text-align:center;}
.one-to-one .scheme.jyhd ul li .particulars{padding:22px 28px 0 28px;background:#fff;height:96px;border-radius:0 0 18px 18px;font-size:18px;color:#666;}
.one-to-one .scheme ul li .particulars p{overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3;line-height:28px;height:84px;}

.one-to-one .image{padding:58px 0 67px 0;text-align:center;}
.one-to-one .image h4{font-size:32px;color:#333;}
.one-to-one .image .txtScroll-left{margin-top:36px;position:relative;height:558px;width:100%;}
.one-to-one .image .txtScroll-left .hd{position:absolute;width:1258px;height:558px;top:0;left:50%;margin-left:-629px;}
.one-to-one .image .txtScroll-left .hd .prev{width:20px;height:38px;display:block;position: absolute;left:0;top:270px;background:url(../images/zuo1.png) no-repeat;cursor:pointer;}
.one-to-one .image .txtScroll-left .hd .next{width:20px;height:38px;display:block;position: absolute;right:0;top:270px;background:url(../images/you1.png) no-repeat;cursor:pointer;}
.one-to-one .image .txtScroll-left .hd .nextStop{background:url(../images/you.png) no-repeat;}
.one-to-one .image .txtScroll-left .hd .prevStop{background:url(../images/zuo.png) no-repeat;}
.one-to-one .image .txtScroll-left .bd{width:100%;overflow:hidden;}
.image .txtScroll-left .bd ul li{float:left;margin-right:20px;width:285px;}
.image .txtScroll-left .bd ul li .img{width:285px;height:285px;overflow:hidden;}
.image .txtScroll-left .bd ul li .img img{width:285px;height:285px;display:block;transition: all 0.6s;}
.image .txtScroll-left .bd ul li .message{background:#f3f3f3;height:256px;padding:17px 24px 0 25px;text-align:left;}
.image .txtScroll-left .bd li .message .name{font-size:20px;color:#333;margin-bottom:12px;text-align:center;}
.image .txtScroll-left .bd li .message .name span{font-size:14px;color:#666;margin-left:6px;}
.image .txtScroll-left .bd li .message .subject{width:225px;margin:0 auto;font-size:14px;color:#666;line-height:28px;}
.image .txtScroll-left .bd li .message .grade{width:225px;margin:0 auto;font-size:14px;color:#666;line-height:28px;}
.image .txtScroll-left .bd li .message .idea{width:225px;margin:0 auto;font-size:14px;color:#666;line-height:28px;overflow: hidden;text-overflow:ellipsis;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:3;height:84px;}
.image .txtScroll-left .bd li .message .idea span{line-height:28px;}
.image .txtScroll-left .bd li .message .consult{display:block;width:236px;height:43px;background:#faa02a;line-height:43px;text-align:center;font-size:14px;color:#fff;border-radius:22px;margin-top:14px;}
.image .txtScroll-left .bd li:hover .img img{transition: all 0.6s;transform: scale(1.2);}

/* 个人中心 */
.personage{width:100%;background:#f6f6f6;padding:23px 0 41px 0;}
.personage .left-nav{width:180px;}
.personage .left-nav h3{width:100%;height:46px;background:#faa02a;line-height:46px;font-size:16px;color:#fff;text-align:center;}
.personage .left-nav .programa{background:#fff;width:178px;height:629px;border:1px solid #e5e5e6;border-top:none;padding-top:30px;}
.personage .left-nav .programa .datum{margin-bottom:28px;}
.personage .left-nav .programa .datum h5{padding-left:18px;font-size:16px;color:#000;margin-bottom:12px;}
.personage .left-nav .programa .datum a{display:block;padding-left:18px;font-size:14px;color:#666;max-width:82px;position: relative;margin-bottom:14px;}
.personage .left-nav .programa .datum a em{position:absolute;width:2px;height:14px;left:-1px;top:50%;margin-top:-7px;background:url(../images/dqzt.jpg) no-repeat;display:none;}
.personage .left-nav .programa .datum a.on em{display:block;}
.personage .left-nav .programa .datum a:hover{color:#faa02a;}
.personage .left-nav .programa .study h5{padding-left:18px;font-size:16px;color:#000;margin-bottom:12px;}
.personage .left-nav .programa .study a{display:block;padding-left:18px;font-size:14px;color:#666;max-width:82px;position: relative;margin-bottom:14px;}
.personage .left-nav .programa .study a em{position:absolute;width:2px;height:14px;left:-1px;top:50%;margin-top:-7px;background:url(../images/dqzt.jpg) no-repeat;display:none;}
.personage .left-nav .programa .study a.on em{display:block;}
.personage .left-nav .programa .study a:hover{color:#faa02a;}

.personage .right-nr{width:1000px;}
.personage .right-nr .material{background:#fff;height:115px;padding:20px 20px 0 21px;}
.personage .right-nr .material .imaterial{float:left;}
.right-nr .material .imaterial .tx{width:96px;height:96px;border-radius:100%;float:left;}
.right-nr .material .imaterial .tx img{width:96px;height:96px;display:block;border-radius:100%;}
.right-nr .material .imaterial .means{float:left;margin-left:20px;padding-top:4px;}
.right-nr .material .imaterial .means .name{font-size:18px;color:#333;}
.right-nr .material .imaterial .means .information{margin-top:6px;}
.material .imaterial .means .information .szdq{float:left;font-size:14px;color:#666;margin-right:30px;}
.material .imaterial .means .information .gender{float:left;font-size:14px;color:#666;}
.right-nr .material .imaterial .means .hmbd{margin-top:8px;line-height:20px}
.right-nr .material .imaterial .means .hmbd .ihmbd{float:left;font-size:14px;color:#666;}
.right-nr .material .imaterial .means .hmbd .binding{float:left;margin-right:9px;width:69px;height:18px;border:1px solid #ccc;border-left:none;}
.material .imaterial .means .hmbd .binding .images{width:20px;height:18px;background:#ccc;float:left;}
.imaterial .means .hmbd .y.binding .images img{width:12px;height:16px;display:block;margin:0 auto;margin-top:1px;}
.imaterial .means .hmbd .w.binding .images img{width:14px;height:11px;display:block;margin:0 auto;margin-top:3.5px;}
.material .imaterial .means .hmbd .binding p{float:left;width:49px;height:18px;line-height:18px;font-size:12px;color:#ccc;text-align:center;}
.material .imaterial .means .hmbd .binding.on{background:#faa02a;border:1px solid #faa02a;}
.material .imaterial .means .hmbd .binding.on .images{background:#faa02a;}
.material .imaterial .means .hmbd .binding.on p{color:#fff;}
.right-nr .material .amend{float:right;width:98px;height:38px;line-height:38px;text-align:center;display:block;font-size:14px;color:#faa02a;border:1px solid #faa02a;margin-top:28px;}
.right-nr .study{padding:0 22px 110px 18px;background:#fff;margin-top:20px;}
.right-nr .study .headline{width:100%;height:49px;line-height:49px;border-bottom:1px solid #e5e5e6;}
.right-nr .study .headline h4{font-size:16px;color:#333;background:url(../images/db.jpg) no-repeat left bottom;float:left;padding-bottom:1px;}
.right-nr .study .headline .more{display:block;float:right;font-size:14px;color:#999;background:url(../images/ckqb.png) no-repeat right center;padding-right:18px;}
.right-nr .study .headline .more:hover{color:#faa02a;}
.right-nr .study .wdkc{width:100%;margin-bottom:52px;}
.right-nr .study .wdkc table{width:100%;margin-top:22px;}
.right-nr .study .wdkc table tr th{height:33px;color:#333;background:#f2f2f2;line-height:33px;font-size:14px;text-align:left;padding-left:20px;}
.right-nr .study .wdkc table tr td{height:62px;line-height:62px;padding-left:20px;font-size:14px;color:#666;border-bottom:1px solid #f2f2f2;}
.right-nr .study .wdkc table tr td span{font-size:14px;color:#ff0000;}
.right-nr .question{width:100%;margin-bottom:52px;}
.right-nr .question .reminder{min-height:88px;padding-top:24px}
.right-nr .question .reminder span{display:block;float:left;font-size:14px;color:#999;line-height:26px;}
.right-nr .question .reminder a{display:block;float:left;width:64px;height:26px;line-height:26px;text-align:center;background:#faa02a;font-size:12px;color:#fff;margin-left:22px;}
.right-nr .question.video{margin-bottom:0;}



